@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: Montserrat, sans-serif;

    --text-ratio:1.200;
    --text-base-size: 16px;
    --text-base-line-height: 1.2;

    --text-ratio-2: calc(var(--text-ratio) * var(--text-ratio));
    --text-ratio-3: calc(var(--text-ratio-2) * var(--text-ratio));
    --text-ratio-4: calc(var(--text-ratio-3) * var(--text-ratio));
    --text-ratio-5: calc(var(--text-ratio-4) * var(--text-ratio));
    --text-ratio-6: calc(var(--text-ratio-5) * var(--text-ratio));

    --navbar-height: 64px;

    @media (min-width: 640px) {
      --text-ratio: 1.250;
      --navbar-height: 106px;
    }

    @media (min-width: 1024px){
      --text-ratio: 1.333;
      --navbar-height: 102px;
    }

    scroll-behavior: smooth;
  }

  h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    line-height: var(--text-base-line-height);
  }

  p {
    font-size: var(--text-base-size);
    line-height: var(--text-base-line-height);
    font-weight: 500;
  }

  h6 {
    font-size: calc(var(--text-base-size) * var(--text-ratio));
  }

  h5 {
    font-size: calc(var(--text-base-size) * var(--text-ratio-2));
  }

  h4 {
    font-size: calc(var(--text-base-size) * var(--text-ratio-3));
  }

  h3 {
    font-size: calc(var(--text-base-size) * var(--text-ratio-4));
  }

  h2 {
    font-size: calc(var(--text-base-size) * var(--text-ratio-5));
  }

  h1 {
    font-size: calc(var(--text-base-size) * var(--text-ratio-6));
  }

  .navbar-margin {
    margin-top: var(--navbar-height);
  }
}
